<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ .Site.BaseURL }}">

  <title>
    {{ block "title" . }}
      {{ if .Page.IsHome }}
        {{ .Site.Title -}}
      {{ else }}
        {{- .Title }} - {{ .Site.Title -}}
      {{ end }}
    {{ end }}
  </title>

  <link rel="stylesheet" href="{{ "css/bulma.min.css" | relURL }}" type="text/css">
  <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">-->

</head>