{{ define "main" }}
<section class="section">
  <div class="content">
    <h1 class="title is-2">{{ .Title }}</h1>
    {{ .Content }}
    {{ with .Resources.Match "*.mp3"}}
    <div class="columns is-multiline is-centered is-vcentered mt-5">
      {{ range . }}
      <div class="column is-half">
        <div class="block">
          <div class="media-content">
            <div class="content has-text-centered mb-4">
              <p class="has-text-centered has-text-weight-bold is-family-monospace">{{ .Name }}
              </p>
              <audio controls>
                <source src="{{ .RelPermalink }}" type="audio/ogg">
                <source src="{{ .RelPermalink }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>  
    {{ end }}
  </div> 
</section>
{{ end }}
